
__astcache/MyThreadPCH.h.3ac4aeb00738def19c109457ebbd707a.astinfo
__astcache/MyThreadPCH.h.ec9b955306da7f0494c5bee217063f63.astcache
__history/Main.cpp.~1~
__history/Main.cpp.~2~
__history/Main.cpp.~3~
__history/Main.cpp.~4~
__history/MyThread.cpp.~1~
__history/MyThread_resources.rc.~1~
MyThread.cbproj.local
MyThread.stat
MyThread_resources.rc
sh.exe.stackdump
Win32/Debug/FileSystem.obj
Win32/Debug/IteratorThread.obj
Win32/Debug/Main.obj
Win32/Debug/MyThread.#00
Win32/Debug/MyThread.cgl
Win32/Debug/MyThread.map
Win32/Debug/MyThread.obj
Win32/Debug/MyThread.pch
Win32/Debug/MyThread.pdi
Win32/Debug/SearchThread.obj
*.astcache
*.astinfo
*.ini
*.ilc
*.ild
*.ilf
*.ils
*.tds
*.~1~
*.~2~
__recovery/SearchThread.cpp
__recovery/SearchThread.h
*.~3~
*.~10~
*.~11~
*.~13~
*.~12~
*.~4~
*.~5~
*.~6~
*.~7~
*.~8~
*.~9~
